<nav class="navbar navbar-expand navbar-light bg-white shadow-sm">
  <div class="navbar-container">
    <a class="navbar-brand" href="/" style="font-weight: 900;">
      <img src="/assets/img/logo-2.png" />
    </a>
  </div>
</nav>