<html>
  <head>
    <meta charset="utf-8" />
    {% include "components/default-styles.njk" %}
    <link rel="stylesheet" href="/assets/css/prestador.css" />
    <link rel="stylesheet" href="/fa/css/all.min.css" />
  </head>
  <body>
    {% include "prestador/navbar.njk" %}
    <div class="main">
      <div class="alert alert-success col-6 offset-3 mt-5">
        <p>
          Sua proposta foi enviada! Você receberá uma notificação caso o cliente
          aceite sua proposta.
        </p>
        <a href="/prestador" class="btn btn-primary">Voltar ao início</a>
      </div>
    </div>
    {% include "components/default-scripts.njk" %} {% include
    "components/logoff-script.njk" %}
    <script src="/assets/js/trocaFoto.js"></script>
  </body>
</html>
