<div class="col-3 px-2">
  <div class="col bg-white shadow-lg py-2 rounded-lg">
    <form action="/cliente/pesquisar" method="POST">
      <label class="font-weight-bold">Procurar serviço</label>
      <div class="form-group-pesquisa">
        <input type="text" class="form-control input-pesquisa" name="servico" required />
        <button type="submit" class="btn btn-primary btn-pesquisa">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="col bg-white shadow-lg py-2 mt-2 rounded-lg">
    <span class="font-weight-bold">Categorias</span>

    <ul class="categorias pl-0 mt-2">
      <li class="position-relative">
        <a class="stretched-link" href="/cliente/servicos/1">Assist. Técnica</a>
      </li>
      <li class="position-relative">
        <a class="stretched-link" href="/cliente/servicos/2">Aulas</a>
      </li>
      <li class="position-relative">
        <a class="stretched-link" href="/cliente/servicos/3">Autos</a>
      </li>
      <li class="position-relative">
        <a class="stretched-link" href="/cliente/servicos/4">Consultoria</a>
      </li>
      <li class="position-relative">
        <a class="stretched-link" href="/cliente/servicos/5">Design e Tecnologia</a>
      </li>
      <li class="position-relative">
        <a class="stretched-link" href="/cliente/servicos/6">Eventos</a>
      </li>
      <li class="position-relative">
        <a class="stretched-link" href="/cliente/servicos/7">Moda e beleza</a>
      </li>
      <li class="position-relative">
        <a class="stretched-link" href="/cliente/servicos/8">Reformas</a>
      </li>
      <li class="position-relative">
        <a class="stretched-link" href="/cliente/servicos/9">Saúde</a>
      </li>
      <li class="position-relative">
        <a class="stretched-link" href="/cliente/servicos/10">Serviços Domésticos</a>
      </li>
    </ul>
  </div>
</div>
